.bottom-panel {
  overflow: hidden;
  background: #1d1d1d;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  line-height: 25px;
}
.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  padding-top: 86px;
  padding-bottom: 56px;
  column-gap: 113px;
}

.footer-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}
.footer-mails div {
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
  font-weight: 400;
}
.footer-mails div::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-desc {
  margin-bottom: 40px;
  grid-column: 1 / span 3;
}
.footer-links {
  margin-top: 50px;
  grid-column: 1 / span 3;
  display: flex;
  column-gap: 35px;
}
.footer-links span a::before {
  content: '|';
  margin: 0 8px 0 10px;
}
.footer-links div {
  display: flex;
  column-gap: 40px;
}
.footer-links div a {
  text-decoration: underline;
  white-space: nowrap;
}

@media (max-width: 1100px) {
  .footer-inner {
    padding-left: 4.66%;
    padding-right: 4.66%;
  }
}
@media (max-width: 900px) {
  .footer-inner {
    padding: 26.6667% 8% 14.9444%;
    flex-direction: column;
    row-gap: 36px;
  }
}
@media (max-width: 800px) {
  .footer-main {
    grid-template-columns: 1fr;
  }
  .footer-desc,
  .footer-links {
    grid-column: 1 / span 1;
  }
  .footer-links {
    flex-direction: column;
    row-gap: 40px;
  }
  .footer-mails + .footer-mails {
    margin-top: 30px;
  }
}
