.root {
  --w: 80%;
  --w-sm: 80%;
  margin: 10px auto;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transform: translate(0, 0);
  width: var(--w);
}

.root img {
  display: block;
  max-width: 100%;
}

@media (max-width: 800px) {
    .root {
        width: var(--w-sm);
    }
}
